<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">

      <h1 class="header-small"><a href="{{ site.baseurl }}/">Moha's Blog</a></h1>

      <nav>
        {% for nav in site.navigation %}
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
        <a href="{{ nav.url }}">{{ nav.name }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
        {% endif %}
        {% endfor %}
      </nav>
    </header>
  </div>
</div>